*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --pink-color:#e26e70;
}
body{
    position: relative;
    height: 100vh;
    background: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );;
}
.open_modal{
    position: fixed;
    top: 50%;
    right: 50%;
    

}
.open_modal button{
    padding: 20px 50px;
    transform: translate(50%,-50%);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.open_modal button:hover {
    background-color: rgba(255, 255, 255, 0.8);

}
.modal{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
   
}
.inner_modal{
    width: 400px;
   
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 250px auto;
    animation: showModal linear 0.3s ;
}
@keyframes showModal {
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}
.header_modal{
    
    background-color:var(--pink-color) ;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size:16px ;

}
.header_modal i {
    cursor: pointer;
}
.body_modal{
    background-color: white;
    padding: 20px 20px;
}
.body_modal h2 {
    color: var(--pink-color);
    padding-bottom: 10px;
}
.footer_modal{
    background-color: white;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 12px;
  
}
.close{
    padding: 8px 17px;
    border-radius: 3px;
    border: none;
    background-color: var(--pink-color);
    color: white;
    cursor: pointer;
}
.hide{
    display: none;
}
